/*
!.gitignore
!LICENSE
!manifest.json
!modlist.html
!options.txt
!README.md

!config
config/*
!incontrol
!InventoryHUD
!inventoryprofilesnext
!jade
!jei
!embeddium*.*
!inventoryhud-client
!jea.json5
!jecharacters.toml
!jeiintegration-client.toml
!minieffects-client.yaml
!sodium*.*
!xaero*.*
