/*
!.github
!.gitignore
!LICENSE
!manifest.json
!modlist.html
!options.txt
!README.md

!config
config/*
!kubejs
kubejs/config/probejs.json
kubejs/jsconfig.json
kubejs/README.txt

!defaultoptions
!incontrol
!InventoryHUD
!inventoryprofilesnext
!jade
!jei
!openloader
!pickupnotifier
!embeddium*.*
!inventoryhud-client.toml
!jecharacters.toml
!jeiintegration-client.toml
!minieffects-client.yaml
!sodium*.*
!xaero*.*
